body {
  /* font-family: "Lucida Console", "Courier New", monospace; */
  color: #33334d;
  /* font-family: sans-serif; */
  /* font-family: "Monospace"; */
  font-family: "Helvetica";
  margin: auto;
  max-width: 1280px;
  /* background-color: red; /1* For browsers that do not support gradients *1/ */
  /* background-image: linear-gradient(to right, darkorange, yellow); */
  background-image: linear-gradient(to right, White, #d1d1e0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  /* margin: 0; */
  /* background: url(bg.jpg); */
  /* background-size: 100%; */
}

/* Define a class for the image */
.img-border-hover {
  border: 1px solid #000; /* Initial border style and thickness (black color) */
  display: inline-block; /* Make sure the element respects the border */
  transition: box-shadow 0.3s; /* Smooth transition effect for box-shadow */
}

/* Define the hover effect */
.img-border-hover:hover {
  box-shadow: 0 0 0 3px #666699; /* Create a red "border" with 5px thickness on hover */
}


.navbar {
  /* background-color: #fff800; */
  /* border-radius: 2px; */
  /* max-width: 800px; */
  /* max-width: fit-content; */
  color: #666699;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline overline double;
  color: #666699;
}

a:link {
    /* color: DimGray; */
    /* color: black; */
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #666699;
    text-decoration: underline overline double;
}

video {
    max-height: 350px;
    max-width: 500px;
}




