body {

  color: #d3d3d3;

  /* font-family: sans-serif; */
  /* font-family: "Monospace"; */
  font-family: "Lucida Console", "Courier New", monospace;
  /* font-family: "Helvetica"; */

  margin: auto;
  max-width: 1280px;

  background-color: #242124; /* For browsers that do not support gradients */

  /* background-image: linear-gradient(to right, darkorange, yellow); */

  /* background-image: linear-gradient(to right, White, #c2c2d6); */
  /* background-repeat: no-repeat; */

  background-attachment: fixed;
  height: 100%;
  /* margin: 0; */
  /* background: url(bg.jpg); */
  /* background-size: 100%; */
}

/* Define a class for the image */
.img-border-hover {
  border: 1px solid #000; /* Initial border style and thickness (black color) */
  display: inline-block; /* Make sure the element respects the border */
  transition: box-shadow 0.2s; /* Smooth transition effect for box-shadow */
}

/* Define the hover effect */
.img-border-hover:hover {
  box-shadow: 0 0 0 4px #00cc00; /* Create a red "border" with 5px thickness on hover */
}


.navbar {
  /* background-color: #fff800; */
  /* border-radius: 2px; */
  /* max-width: 800px; */
  /* max-width: fit-content; */
  /* color: #0099cc; */
}

.navbar a:link {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #ff9900;
}

.navbar a:hover {
  text-decoration: underline overline double;
  color: #33ccff;
}

/* unvisited link */
a:link {
    color: #00b300;
    /* font-size: 20px; */
    text-decoration: none;
    font-weight: bold;
}
/* visited link */
a:visited {
    color: #cccc00;
}
/* mouse over link */
a:hover {
    color: #ff0066;
    text-decoration: underline overline double;
}
/* selected link */
a:active {
    color: #800000;
}

video {
    max-height: 350px;
    max-width: 500px;
}




